/* --- put your css here --- */ 

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/

body {
  background-color: lightblue;
}

#igottabeme {font-family: Arial, Helvetica, sans-serif;}

.classy {margin-left: 10px;}

#d1, #d2, #d3 {
  margin-bottom: 50px;
}

.a {
  word-wrap: normal;
}
.b {
  display: block;
}
.c {
  word-wrap: normal;
}
span {
  width: 100px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  background-color: yellow;
}

img[alt="cat icon"] {
  position: fixed;
  bottom: 0;
  right: 0;
}
img[alt="dog icon"] {
  position: relative;
  right: 50px;
  below: 150px;
}
img[alt="bird icon"] {
  position: absolute;
}
.positionMe {
  position: relative;
}
img[alt="bird icon"] {
  position: absolute;
  bottom: 50px;
  right 250px;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: green;
  opacity: 90%;
  padding: 5px;
  font-size: 20px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:nth-child(odd) {
  background-color: grey;
}
th {
  background-color: lightblue;
}
td {
  text-align: right;
}
table tr:hover {
  background-color: yellow;
}
input:focus {
  background-color: pink;
}

/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
